Repository unb-mds/2024-2-Urbanize, pull requests merged in 2025-01, with the labels that each got.

#22 19/feet/ testes para validação dos dados coletados
  backend/node/package-lock.json
  backend/node/package.json
  backend/node/prisma/migrations/20250102181756_added_lat_and_long/migration.sql
  backend/node/prisma/migrations/20250102190511_/migration.sql
  backend/node/prisma/migrations/20250102192127_update_cod/migration.sql
  backend/node/prisma/migrations/20250102193358_mudando_codigo/migration.sql
  backend/node/prisma/migrations/20250102232919_mudando_o_tipo_codigo_pra_int/migration.sql
  backend/node/prisma/migrations/20250102233224_cod_big_int/migration.sql
  backend/node/prisma/schema.prisma
  backend/node/src/database/fetchAPI.ts
Labels: Back-end

#27 19/feet/ testes para validação dos dados coletados
  backend/node/package-lock.json
  backend/node/package.json
  backend/node/src/repositories/In-memory/data/projectsMemoryData.ts
  backend/node/src/repositories/In-memory/in-memory-project-repository.ts
  backend/node/src/use-cases/test/filterByData.spec.ts
  backend/node/src/use-cases/test/findById.spec.ts
  backend/node/tsconfig.json
  backend/node/vitest.config.ts
  package-lock.json
Labels: Back-end

#33 21/feet/deploy da api
  backend/node/src/routes/routes.ts
  backend/node/src/server.ts
  backend/node/src/utils/swaggerConfig.ts
Labels: Back-end, Dados

#39 Feat/Mostrar detalhes da obra clicada
  frontend/vite-project/src/components/Mapa.tsx
  frontend/vite-project/src/components/menuDetalhar.tsx
Labels: Front-end

#42 Feat/exibicao de marcadore das obras no mapa
  frontend/vite-project/src/components/menuDetalhar.tsx
  frontend/vite-project/src/components/menuFiltrar.tsx
  frontend/vite-project/src/components/menuListar.tsx
  frontend/vite-project/src/components/menuPrincipal.tsx
Labels: Feature, Front-end

#44 Reestruturação para usar a nova API paginada
  frontend/vite-project/src/components/Mapa.tsx
Labels: Front-end, Dados

#50 Adicionar componente de legenda e arrumando detalhes visuais
  frontend/vite-project/index.html
  frontend/vite-project/src/App.tsx
  frontend/vite-project/src/components/Mapa.tsx
  frontend/vite-project/src/components/legenda.tsx
  frontend/vite-project/src/components/menuDetalhar.tsx
  frontend/vite-project/src/components/tituloMenus.tsx
Labels: Front-end, Design

#56 [feat](#55): Adiciona pipeline de integração contínua (CI)
  .github/workflows/docs.yml
  .github/workflows/pipeline-ci.yml
  .github/workflows/pre-push.yaml
  .github/workflows/unit-tests.yaml
  backend/node/src/server.ts
Labels: Back-end, DevOps

#59 Adiciona legenda responsiva para tipos de marcadores de obras
  frontend/vite-project/package-lock.json
  frontend/vite-project/package.json
  frontend/vite-project/src/App.tsx
  frontend/vite-project/src/components/legenda.tsx
  frontend/vite-project/src/components/menuPrincipal.tsx
Labels: Task, Front-end
